.bodystyle{
	text-align: center;
	background-image: url(./images/backLogo.jpg);
    background-size: 100%;
    background-position: top;
}

.hstyle{
	font-family: cursive;
	color: white;
}

.selectsyle {
	text-align: center;
	color: #fff;
	background: #000;
	font-size: 16px; 
	font-family: sans-serif; 
	width: 120; 
	line-height: 1.3; 
	padding: .6em 1.4em .5em .8em;
	width: 100; 
	border-radius: .4em;
	margin: 0; 
	border: 2px solid #fff;
}

.btn {
	text-align: center;
	color: #fff;
	background: #000;
	font-size: 18px; 
	font-family: sans-serif; 
	width: 120; 
	line-height: 1.3; 
	padding: .6em 1.4em .5em .8em;
	width: 100; 
	border-radius: .4em;
	margin: 0; 
	border: 3px solid #fff;
	cursor: pointer;
	transition: all 0.5s;
  	position: relative;
}

.btn ::before {
	align-content: center;
  	content: '';
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
 	height: 100%;
  	z-index: 1;
  	background-color: rgba(255,255,255,0.1);
  	transition: all 0.7s;
  	border-radius: .4em;
}

.btn:hover::before {
  	opacity: 0 ;
  	transform: scale(0.5,0.5);
}

.btn::after {
	align-content: center;
  	content: '';
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	z-index: 1;
  	opacity: 0;
  	transition: all 0.7s;
  	border: 2px solid #fff;
  	transform: scale(1.2,1.2);
  	border-radius: .4em;
}

.btn:hover::after {
  	opacity: 1;
  	transform: scale(1, 1);
}


